@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  
}

body{
  height: 100%;
  background-image: linear-gradient(to right bottom, #50a4c9, #458aa5, #3c7083, #335763, #2a3f45, #263539, #222b2d, #1d2122, #1d2122, #1d2122, #1d2122, #1d2122);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 60px;
 margin-bottom: 150px;
 color: rgb(194, 194, 194);
 font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 40px;
}


fieldset{
margin: 0 auto;
  width: 470px;
  height: 300px;
  background: rgb(10, 93, 134);

 border: none;

}

input.login{
 position: relative;
width: 300px;
height: 40px;
left: 80px;
top: 40px;
padding: 10px;


}

#password{
margin-top: 30px;
}

input::placeholder{
 font-size: 15px;
 color: #000000;



}

.botoes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 95px;
  margin-top: 65px;
}
  


input[type=button]{
  
cursor: pointer;
  height: 50px;
  width: 110px;
  background: rgba(0, 134, 210, 1);
  border: none;
  margin-left: -10px;
}

.senha{
  font-size: 19px;
  margin-left: -29px;
}

a{
 
 color: aliceblue;
  
}




.imagens{
display: flex;
gap: 44%;
margin-top:-80px

}


